[submodule "BOOK-STORE-BE-ADMIN-SERVICE"]
	path = BOOK-STORE-BE-ADMIN-SERVICE
	url = https://github.com/hung179/BOOKSTORE-BE-ADMIN-SERVICE.git
[submodule "BOOK-STORE-BE-ORDER-SERVICE"]
	path = BOOK-STORE-BE-ORDER-SERVICE
	url = https://github.com/hung179/BOOKSTORE-BE-ORDER-SERVICE.git
[submodule "BOOK-STORE-BE-CATEGORY-SERVICE"]
	path = BOOK-STORE-BE-CATEGORY-SERVICE
	url = https://github.com/hung179/BOOKSTORE-BE-CATEGORY-SERVICE.git
[submodule "BOOK-STORE-BE-CUSTOMER-SERVICE"]
	path = BOOK-STORE-BE-CUSTOMER-SERVICE
	url = https://github.com/hung179/BOOKSTORE-BE-CUSTOMER-SERVICE.git
[submodule "BOOK-STORE-BE-GATEWAY"]
	path = BOOK-STORE-BE-GATEWAY
	url = https://github.com/hung179/BOOKSTORE-BE-GATEWAY.git
[submodule "BOOK-STORE-BE-PRODUCT-SERVICE"]
	path = BOOK-STORE-BE-PRODUCT-SERVICE
	url = https://github.com/hung179/BOOKSTORE-BE-PRODUCT-SERVICE.git
[submodule "BOOK-STORE-FE-ADMIN"]
	path = BOOK-STORE-FE-ADMIN
	url = https://github.com/hung179/BOOKSTORE-FE-ADMIN.git
[submodule "BOOK-STORE-FE-CUSTOMER"]
	path = BOOK-STORE-FE-CUSTOMER
	url = https://github.com/hung179/BOOKSTORE-FE-CUSTOMER.git
